<h2 class="text-center">Welcome to the Tour of Transformers</h2>
<div class="row">
  <div class="col-md-6" style="margin-top:100px">
    <img src="https://vignette.wikia.nocookie.net/transformersprime/images/7/75/Decepticon_Logo.png/revision/latest?cb=20180118004314"
    alt="Decepticons"
    class="img-responsive"
    style="height: 400px;">
  </div>
  <div class="col-md-6" style="margin-top:100px">
    <img src="https://vignette.wikia.nocookie.net/transformersprime/images/4/4d/Ai.png/revision/latest?cb=20180118004646"
    alt="Autobots"
    class="img-responsive"
    style="height: 400px;">
  </div>
</div>

